
.card {
  padding: 10px;
}

#cards-hide {
  display: none;
}

#map {
    min-height: 50%;
}
#publish-jobs {
    min-height: 15%;
    position: relative;
    flex-direction: column;
    display: flex;
}

#btn-div {
  min-height: 40px;
}

.cards {
    top: 20px;
    align-items: center;
}

.card {
  padding: 50%;
}

.align-self {
  position: absolute;
  bottom: 10px;
  left: 5%;
  max-width: 90%;

}


/* This is the CSS for the price-tag markers. */
.price-tag {
    background-color: #000000;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
  }
  
  .price-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
  }

